.table-wrapper{
    width:100%;
    
}
.table{
    display:block;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
    width:100%;
    /* max-width:80%; */
    margin: auto;
    overflow-x: auto;
    border: 0.5px solid #ddd;
}
.table thead {
    background-color: #ccc;
    color:grey;
}
.table th,
.table td {
    padding: 0.8rem;
}
.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody tr:hover{
    background-color: #eee;
}